

/* *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Poppins', sans-serif;
}

a{
    text-decoration: none;
}

html{
    
    background-image: url('../content/background_image.jpg');
    background-size: cover;
}

body{
    background-color: rgba(189, 215, 238, 0.85);
    min-height: 100%;
}


.container{
    min-height: 845px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.left_side{
    position: absolute;
    left: 0;
    top: 90px;
    padding: 35px;
    max-width: 600px;
}

.left_side p{
    font-weight: 600;
    font-size: 25px;
}

.left_side a{
    font-weight: 600;
    color: black;
    background-color: rgba(189, 215, 238, 0.65);
    position: absolute;
    text-align: center;
    left: 30px;
    top: 700px;
    width: 320px;
    padding: 20px;
    border: solid;
    border-radius: 75px;
}

.left_side a:active{
    color: red;
    border-color: red;
}

.right_side{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 25px;
}

.right_side img{
    height: 320px;
}

.hexagon_menu{
    display: inline-flex;
}

.hexagon{
    position: relative;
    background-color:  rgb(255, 114, 118);
    margin: 10px;
    height: 280px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition-duration: 0.5s;
}

.hexagon_link{
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    color: white;
}

.hexagon_link h3{
    width: 250px;
}

.hexagon:hover{
    
    transform: scale(1.02);
    background-color: rgb(255, 75, 79);
}

.first_column{
    height: 300px;
    margin-right: -100px;
    transform: translateY(295px);
}

.second_column{
    transform: translateY(150px);
}

.third_column{
    transform: translateY(5px);
    margin-left: -100px;
    margin-right: -100px;
}

.fourth_column{
    transform: translateY(150px);
}

.fifth_column{
    transform: translateY(5px);
    margin-left: -100px;
}

*/